// Place all the styles related to the customer::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eyecatch{
	width: 100%;
	height: 400px;
	background-image: url("/images/eyecatch.jpg");
	background-size: cover;
}

.contentbox{
	box-sizing: border-box;
	margin-left: 40px;
	width: 25%;
	height: 100%;
	background-color: rgba(244,244,244,0.6);
	padding: 20px
}

.container .about-box{
	width:100%;
	text-align: center;
	height: 1200px;
}

.about{
	background-color:  rgba(237,232,150,0.6);
}

.items{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.itembox{
	width: 300px;
	height: 100px;
}

.itembox dl:hover{
	color: rgb(190,176,152);
}

.contentbox h1{
	color: rgb(117,101,93);
	margin-bottom: 30px;
}

.contentbox p{
	color: rgb(117,101,93);
}


.container h1{
	text-align: center;
	margin: 50px 0;
	color: rgb(117,101,93);
}

.item_image{
	width: 200px;
	height: 100px;
}


.naganocake{
	width: 50%;
	height: 200px;
	margin: 0 auto 20px;
	background-image: url("/images/naganocake.jpg");
	background-size: cover;
	background-position: center;
}