// Place all the styles related to the customer::mailing_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mailing-form{
	float: left;
	margin-bottom: 10px;

	h4{
		margin-bottom: 20px;
	}

	.address{
		width: 300px;
	}
}
