    <div class="row">
        <div class="col-lg-3">
            <h3>会員一覧</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <table class="table">
            <thead>
                <tr class="active">
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% datas.each do |data| %>
                <tr>
                        <td><%= data.id %></td>
                        <td><%= link_to data.name, admin_customer_path(data) %></td>
                        <td><%= data.email %></td>
                        <td>
                            <% if data.is_valid == true %>
                                有効
                            <% else %>
                                退会済み
                            <% end %>
                        </td>
                </tr>
                <% end %>
            </tbody>
            </table>
            <div class="col-lg-12">
                <%= paginate datas %>
            </div>
        </div>
    </div>