<% provide(:title, "購入完了") %>
<div class="container">
	<div class="col-lg-12">
		<h3 class="thanks-top">ご購入ありがとうございました！</h3>
		<%= link_to customer_orders_path do%>
			<h1 class="thanks-bottom thanks"><i class="fas fa-gift">　<i class="fas fa-truck-moving"></i></i></h1>
			<h6>注文内容の確認 / 配送状況の確認はこちらから可能です。</h6>
		<% end %>
	</div>
</div>