<% provide(:title, "店舗情報") %>
<div class="container">
<div class="col-lg-12">
	<p style="width: 600px; margin: 60px auto 10px;">\ 洋菓子を中心とした販売サイト /</p>
<div class="naganocake">
</div>
	<h1 style="font-weight: bold;">ながの <i class="fas fa-birthday-cake"></i> CAKE</h1>
</div>
<div class="col-lg-12">
	<h2 class="about" style="width: 70%; margin: 0px auto 30px; padding:10px; color:#74654C;">HOW TO USE ?</h2>
	<p>長野県にある小さな洋菓子店なので、注文に応じて商品を作成する受注販売としております。</p>
	<p>ご友人様やご家族様へのプレゼントなど、注文者様以外の住所にも商品をご発送していただけます。</p>
	<p>送料は１配送につき全国一律８００円頂戴します。</p>
	<p>お支払い方法はクレジットカード、銀行振込からお選びいただけます。</p>
</div>
<div class="col-lg-12" style=" margin-bottom: 60px;">
	<h2 class="about"style="width: 70%; margin: 60px auto 30px; padding:10px; color:#74654C;;">INFOMATION <i class="fab fa-twitter-square"  style="color:gray;"></i> <i class="fab fa-facebook-square" style="color:gray;"></i> </h2>
	<h4>住所</h4>
	<p>長野県長野市軽井沢1-2-345</p>
	<h4>電話番号</h4>
	<p><a href="tel:0123456789">012-3456-789</a>
	</p>
	<h4>メールアドレス</h4>
	<p><a href="mailto:naganocake&#64;dmm.webcom">naganocake&#64;dmm.webcamp</a></p>
</div>
</div>
