<%= render 'error', genre: @genre %>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h3>ジャンル編集</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<%= render 'form', genre: @genre, url: admin_genre_path,submit_name:"変更を保存する", btn_class: 'btn btn-info' %>
		</div>
	</div>
</div>